{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div id="to" style="background-color:teal;height: 10%;">
    <h1 class="text-center">WELCOME TO THE NEIGHBOURHOOD WATCH</h1>
    
    {% if profile.neighborhood %}
        {%for profile.neighborhood in neighborhoods %}

            <h2 class="text-center">You are in <span>{{profile.neighborhood.name}} </span></h2>
            <h3 class="text-center">Wich has {{profile.neighborhood.occupants}} occupants</h3>
        {%endfor%}
    {%endif%}
    </div>
<div class="container">

<div style="border-bottom:2px solid green">
<h2>Posts in {{profile.neighborhood.name}}</h2>

{% if profile.neighborhood.posts %}
{%for post in profile.neighborhood.posts %}
 
<div>
    <p class="panel panel-heading">{{post.title}}</p>
    <div class="panel panel-body">
        <img src="{{post.image.url}}" alt="" height="300">
 
        <p>Posted {{post.pub_date|timesince}}</p>
    </div>
</div>
 {%empty%}
 <p>No posts in {{profile.neighborhood.name}}</p>
 
 {%endfor%}
 {%endif%}
 
</div>

<div style="border-bottom:2px solid green; margin-top:5%;">
 <h2>Businesses in {{profile.neighborhood.name}}</h2>
 {% if profile.neighborhood.businesses %}
 {%for business in profile.neighborhood.businesses%}
 <div>
 <p class="panel panel-heading">{{business.name}}</p>
 <div class="panel panel-body">
 <p>E-mail:{{business.email}}</p>
<p>location:{{business.location}}</p>
<p>Phone number:{{business.phone_number}}</p>
</div>
</div>
 {%empty%}
 <p>No businesses in {{profile.neighborhood.name}}</p>
 {%endfor%}
 {%endif%}
</div>
 <div style="border-bottom:2px solid green; margin-top:5%;">

 <h2>Police Stations in {{profile.neighborhood.name}}</h2>
 {% if profile.neighborhood.polices %}
 {%for police in profile.neighborhood.polices %}
 <p class="panel panel-heading">{{police.name}}</p>
 <div class="panel panel-body">
<p>E-mail:{{police.email}}</p>
<p>Location:{{police.location}}</p>
<p>Phone number:{{police.phone_number}}</p>
 </div>
{%empty%}
 <p>No Police stations in {{profile.neighborhood.name}}</p>
 {%endfor%}
 {%endif%}
</div>

<div style="border-bottom:2px solid green; margin-top:5%;"> 
    <h2>Health centers in {{profile.neighborhood.name}}</h2>
    {% if profile.neighborhood.hcenters %}
    {%for hcenter in profile.neighborhood.hcenters %}
    <p class="panel panel-heading">{{hcenter.name}}</p>
    <div class="panel panel-body">
   <p>E-mail:{{hcenter.email}}</p>
   <p>Location:{{hcenter.location}}</p>
   <p>Phone number:{{hcenter.phone_number}}</p>
   </div>
   {%empty%}
    <p>No Health centers in {{profile.neighborhood}}</p>
    {%endfor%}
    {%endif%}
   </div>
</div>

{% endblock %}

