<nav class="navbar navbar-inverse" style="height:50px;background-color:navajowhite;margin-bottom:-20px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'welcome' %}"> Neighborhood</a>
          </div>
      
      
          <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{%url 'welcome'%}">Home</a>
                  </li>
                  <li>
                    <a href="{%url 'neighborhood' %}">Add or Edit Neighborhood</a> 
                  </li>

                  <li>
                    <a href="{%url 'myProfile' user.id %}" class="d-block">View Profile</a>
                  </li>
                  <li>
                    <a href="{%url 'profile' %}">Add or Edit Profile</a>
                  </li>
                  <li>
                    <a href="{%url 'post'%}">Add Post</a>
                  </li>
                  <li>
                    <a href="{%url 'business'%}">Add Business</a>
                  </li>
                  <li>
                    <a href="{%url 'police'%}">Add Police station</a>
                  </li>
                  <li>
                    <a href="{%url 'health'%}">Add Health Center</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="{%url 'search_results'%}">Search Business</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>
      
            {% endif %}
          </div>
        </div>
       
      </nav>