
<div class="container-fluid">
          <div class="navbar-header" >
              {% if user.is_authenticated %}
              <ul>
                  <li><a class="active" href="{%url 'welcome'%}">Home</a></li>
                
                  <li><a href="{%url 'village' %}">Add village </a></li>
                  <li><a href="{%url 'profile' %}">Add profile</a></li>
                  <!-- <li><a href="{%url 'post'%}">Add Post</a></li> -->
            
                  <!-- <li><a href="{% url 'welcome' %}">Get Updated</a></li> -->
                  <!-- <li><a href="{%url 'business'%}">Add Business</a></li> -->
                  <!-- <li><a href="{%url 'police'%}">Add Police station</a> -->
                  <!-- </li> -->
                    <!-- <li>
                      <a href="{%url 'health'%}">Add Health Center</a>
                    </li> -->
                    <!-- <li>
                      <a href="{%url 'myVillage' user.id %}" class="d-block">View my village information</a>
                    </li> -->
                    <li>
                      <a href="/accounts/password/change">Change Password</a>
                    </li>
                    <li>
                      <a href="{%url 'search_results'%}">Search Business</a>
                    </li>
                    <!-- <li>
                        <a href="{%url 'guest'%}">Register your guest</a>
                      </li> -->
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul> 
              
        
              {% endif %}
            </div>
          
                
      
          
            
       
      </nav>